<style>
        .hero {
            background-image: linear-gradient(0deg, rgba(33, 33, 33, 0), rgba(33, 33, 33, 0)), url("https://www.iobeducacao.com/imagemsite/1078/equipe-curso-in-company.png") !important;
            height: 100vh;
        }
        .hero-forms {
            opacity: 1;
            z-index: 1;
        }
        .hero-btn {
            display: none!important;
        }
        .checks {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 24px;
        }
        .check {
            display: flex;
            gap: 15px;
            align-items: center;
        }
        .check span {
            color: white;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
        }
        .iob-footer {
            display: none!important;
        }

        @@media (max-width: 1024px) {
            .hero {
                margin-bottom: 450px;
            }
            .hero-content {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                gap: 32px
            }
            .hero-forms {
                display: block !important;
                opacity: 1;
                z-index: 100;
                position: absolute;
                top: 550px;
            }
        }
        @@media (max-width: 500px) {
            .check {
                display: flex;
                gap: 15px;
                align-items: baseline;
                justify-content: start;
            }
            .check span {
                text-align: start;
            }
            .hero-forms {
                width: 80vw;
                top: 570px;
            }
        }

    </style>

<header class="hero">
        <div class="container hero-content">
            <div>
                <h1 class="hero-title">In company</h1>
                <!-- <h2 class="text-white">Conhecimento para sua empresa decolar.</h2> -->
                <p class="hero-text">A <span class="bold">IOB Educação</span> prepara sua equipe para os novos cenários do mercado.</p>

                <div class="checks container">
                    <div class="check">
                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 2L5.65714 12.5L0 6.75801L1.45029 5.28598L5.65714 9.54549L14.5 0.5L16 2Z" fill="#0ADD91"/>
                        </svg>
                        <span>Conteúdo personalizado às necessidades da equipe e do negócio</span>
                    </div>
                    <div class="check">
                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 2L5.65714 12.5L0 6.75801L1.45029 5.28598L5.65714 9.54549L14.5 0.5L16 2Z" fill="#0ADD91"/>
                        </svg>
                        <span>Aulas interativas com tira dúvidas</span>
                    </div>
                    <div class="check">
                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 2L5.65714 12.5L0 6.75801L1.45029 5.28598L5.65714 9.54549L14.5 0.5L16 2Z" fill="#0ADD91"/>
                        </svg>
                        <span>Instrutores IOB - 100% dedicados</span>
                    </div>
                    <div class="check">
                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 2L5.65714 12.5L0 6.75801L1.45029 5.28598L5.65714 9.54549L14.5 0.5L16 2Z" fill="#0ADD91"/>
                        </svg>
                        <span>Certificado IOB Educação</span>
                    </div>
                </div>

                <div class="hero-btn">
                    <a href="https://api.whatsapp.com/send?phone=5511964868215&text=Ol%C3%A1%21%20Quero%20conhecer%20a%20IOB%20Educa%C3%A7%C3%A3o%20e%20suas%20condi%C3%A7%C3%B5es%20para%202022%21&utm_campaign=MKT%20Produto%20%7C%20Conte%C3%BAdo&utm_medium=email&_hsmi=2&_hsenc=p2ANqtz-9SekyD8h_2FIZbB3eympXlJ0rHEbC7Js9VPLwt9SXFPzyk8Tp-14ucxlZDlVgPjXVfz58W6XdjvpQZlUwGltGnHstMJTS2-68_W05dHWbPQr7ywew&utm_content=2&utm_source=hs_email"
                        target="_blank" class=" text-decoration-none btn btn-iob btn-outline-white mt-4">Converse pelo
                        WhatsApp
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.01 11H4V13H16.01V16L20 12L16.01 8V11Z" fill="white" />
                        </svg>
                    </a>

                    <button class="btn btn-iob btn-pink mt-3" data-toggle="modal" data-target="#queroConhecer">Aprenda
                        com a IOB Educação</button>
                </div>
            </div>
            <div class="hero-forms">
                <div style="padding: 10px 40px 0px 40px">
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                    <script>
                        hbspt.forms.create({
                            region: "na1",
                            portalId: "425682",
                            formId: "a1cf2bd7-db67-420d-8b0f-77123ec54200"
                        });
                    </script>
                </div>
            </div>
        </div>
    </header>