<style>
        .hero {
            background-image: linear-gradient(0deg, rgba(80, 0, 114, 0), rgba(80, 0, 114, 0.014)), linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 62.74%), linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("https://www.iobeducacao.com/imagemsite/1079/estudante-de-cursos-curta-durao.png") !important;
        }
        .hero-btn {
            display: none!important;
        }
</style>

<header class="hero">
        <div class="container hero-content">
            <div>
                <h1 class="hero-title">Cursos de Capacitação</h1>
                <p class="hero-text">Com a IOB Educação você vai longe. Conheça nossos cursos de Capacitação.</p>

                <div class="hero-btn">
                    <a href="https://api.whatsapp.com/send?phone=5511964868215&text=Ol%C3%A1%21%20Quero%20conhecer%20a%20IOB%20Educa%C3%A7%C3%A3o%20e%20suas%20condi%C3%A7%C3%B5es%20para%202022%21&utm_campaign=MKT%20Produto%20%7C%20Conte%C3%BAdo&utm_medium=email&_hsmi=2&_hsenc=p2ANqtz-9SekyD8h_2FIZbB3eympXlJ0rHEbC7Js9VPLwt9SXFPzyk8Tp-14ucxlZDlVgPjXVfz58W6XdjvpQZlUwGltGnHstMJTS2-68_W05dHWbPQr7ywew&utm_content=2&utm_source=hs_email"
                        target="_blank" class=" text-decoration-none btn btn-iob btn-outline-white mt-4">Converse pelo
                        WhatsApp
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.01 11H4V13H16.01V16L20 12L16.01 8V11Z" fill="white" />
                        </svg>
                    </a>

                    <button class="btn btn-iob btn-pink mt-3" data-toggle="modal" data-target="#queroConhecer">Aprenda
                        com a IOB Educação</button>
                </div>
            </div>
            <div class="hero-forms">
                <div style=" padding: 10px 5px">
                    <iframe id="purchase" class="iframeVenda" style="width: 100%; height: 570px;  overflow: hidden;" 
				        src="" frameborder="0" allowfullscreen="allowfullscreen">
				    </iframe>
                </div>
            </div>
        </div>
    </header>

    <section class="iob-space">
        <div class="container text-center">
            <h2 class="text-title">Conecte-se a um novo aprendizado</h2>
            <p class="text-subtitle">Temas atuais. Instrutores experientes. Capacitação Profissional. Embarque na IOB Educação!</p>
        </div>
    </section>

    <!-- Apresentação card de cursos aqui -->

    <div class="container carregarCursos">
        <button class="btn btn-outline-pink btn-iob mb-5">Conheça mais cursos &nbsp; 
        <svg class="" width="11" height="5" viewBox="0 0 11 5" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 0L5.5 5L10.5 0H0.5Z" fill="#FF005A"/>
            </svg>
        </button>
    </div>